
		<section class="row">

			
			<section>
				
			</section>



			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">

				<!-- <input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label> -->

				<app-post-list></app-post-list>



			</section>

			<section>
				<ng-container >
					<app-post-add> </app-post-add>
				</ng-container>
			</section>

			<!-- <app-post-footer></app-post-footer> -->
		
		</section>
		
