    <div class="container">
            <div class="row align-items-center my-88 d-flex justify-content-center mt-2">

              <div class="col-md-10 my-1">
                <div class="input-group">
                  
                  <input 
                    [formControl]="txtInput"
                    class="form-control"
                    (change)="onChange()"
                    placeholder="Write your desc ..." >
                </div>
              </div>
              
              <div class="col-auto my-1">
                <button (click)="shearch()" [disabled]="!txtInput.valid"   class="btn btn-primary">Search</button>
              </div>
            </div>
    </div>

